@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

$font-josefin: "Josefin Sans";

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: $font-josefin;
}

::placeholder{
    color: #fff;
    
}

.container-header {
    background-color: #353535f5;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 30rem;
    overflow: hidden;
    width: 100%;
    align-items: center;
    justify-content: center;

    h1 {
        position: relative;


        i{
            cursor: pointer;
        }

        &::before {
            position: absolute;
            content: "";
            width: 15rem;
            height: .2rem;
            left: 15%;
            background-image: linear-gradient(to left, #fff, rgb(17, 56, 210), #fff);
            bottom: 0;
        }
    }

    input,select{
        padding: 1rem;
        background-color: #1a1a1b ;
        color: #fff;
        outline: none;
        border: none;
        border-radius: .4rem;
    }

    .btn-calcular{
        border: none;
        border-radius: .4rem;
        width: 10rem;
        padding: 1rem;
        color: #fff;
        cursor: pointer;
        background-image: linear-gradient(to left, #08a,#02a,#08a);
    }
}

.container-main{
    width: 100%;
    height: 30rem;
    background-color: #1a1a1b;
    color: #fff;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .title-main{
        position: relative;
        margin: 1rem 0;
        &::before {
            position: absolute;
            content: "";
            width: 5rem;
            height: .2rem;
            left: 30%;
            background-image: linear-gradient(to left, #fff, rgb(17, 56, 210), #fff);
            bottom: 0;
        }
    }

    .container-resultado-wrapper{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        background-color: #4c4c4d;
        padding: 1rem;
        width: 40rem;
        border-radius: .4rem;

        .resultado-values{
            p{
                span{
                    color: rgb(76, 138, 61);
                }
            }
        }
    }
}

@media(max-width:660px){
    .container-main{
        .container-resultado-wrapper{
            width: 90%;
        }
    }
}

@media(max-width:350px){
    .container-header{
        height: 40rem;
        .title-header{
            font-size: 20px;

            &::before{
                width: 3rem;
            }
        }

        .dados-corporal{
            display: flex;
            gap: .5rem;
            flex-direction: column;
        }
    }
}